@model MVCGarage.Models.ViewModels.Members.RegisterViewModel

@{
    ViewData["Title"] = "Register Member";
}

@if(@Model.RegisterSuccess) {
    <!-- Button trigger modal -->
    <button type="button" id="clickable" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Registration successful!</h5>
@*            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
          </div>
@*          <div class="modal-body">
            When you no longer want to stay parked. Choose Checkout in the Parked Vehicles List.
          </div>*@
          <div class="modal-footer">
            <a asp-action="Index" class="btn btn-primary">Return to Members</a>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/clickable.js"></script>
}

<form asp-action="Register">
    <div class="form-floating">
        <input asp-for="PersonalIdentityNumber" class="form-control" />
        <span asp-validation-for="PersonalIdentityNumber" class="text-danger"></span>
        <label asp-for="PersonalIdentityNumber" class="form-label"></label>
    </div>
    <div class="form-floating">
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <label asp-for="FirstName" class="form-label"></label>
    </div>
    <div class="form-floating">
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
        <label asp-for="LastName" class="form-label"></label>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Park" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}