html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating {
    margin-top: 0.5em;
}

th a {
    color: #2c2c2c;
}

.hoverable tbody tr:hover td {
    background: rgb(230,240,255);
    color: rgb(30,50,180);
    cursor: pointer;
}