@model AddVehicleViewModel

@{
    ViewData["Title"] = "Add Vehicle";
}

@if(@Model.AddSuccess) {
    <!-- Button trigger modal -->
    <button type="button" id="clickable" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Vehicle was added successfully.</h5>
          </div>
          <div class="modal-footer">
            <a asp-controller="Members" asp-action="Details" asp-route-id="@Model.MemberId" class="btn btn-primary">Back to Member</a>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/clickable.js"></script>
}

<h3>Add Vehicle</h3>

<hr />

<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MemberId" />

    <div class="row print">
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                <label asp-for="RegistrationNumber" class="form-label"></label>
            </div>
            <div class="form-floating">
                <select asp-for="VehicleTypeId" class="form-control" asp-items="@(new SelectList(Model.VehicleTypes, nameof(VehicleType.Id), nameof(VehicleType.Name)))"></select>
                <label asp-for="VehicleTypeId" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="WheelCount" class="form-control" />
                <span asp-validation-for="WheelCount" class="text-danger"></span>
                <label asp-for="WheelCount" class="form-label"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
                <label asp-for="Brand" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
                <label asp-for="Model" class="form-label"></label>
            </div>
            <div class="form-floating">
                <select asp-for="Color" class="form-control" asp-items="@Html.GetEnumSelectList<Color>()"></select>
                <span asp-validation-for="Color" class="text-danger"></span>
                <label asp-for="Color" class="form-label"></label>
            </div>
        </div>
    </div>

@*    <div class="form-group mt-2">
        <span id="ErrorSpan" class="text-danger">@Model.Error</span>
    </div>*@
    <div class="form-group mt-2">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>

</form>

@*<script src="/js/clientValidationReset.js"></script>
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
