@model ListViewModel

@{
    ViewData["Title"] = "Parked Vehicles";
}
<p>
    <a asp-action="Park" class="btn btn-primary mt-2 mb-2" role="button">Park Vehicle</a>
</p>

<div class="accordion bg-secondary bg-opacity-10 rounded shadow p-2">
    <h3>Search</h3>
    <form asp-action="Index">
        <label asp-for="SearchRegistrationNumber" class="control-label"></label>
        <input type="text" asp-for="SearchRegistrationNumber" class="form-control" name="searchRegistrationNumber" />

    <div class="accordion-item alert alert-primary p-0 mt-2">
        <h5 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            More search options...
            </button>
        </h5>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <label asp-for="SearchBrand" class="control-label"></label>
                <input type="text" asp-for="SearchBrand" class="form-control" name="searchBrand" />

                <label asp-for="SearchModel" class="control-label"></label>
                <input type="text" asp-for="SearchModel" class="form-control" name="searchModel" />

                <label asp-for="SearchWheelCount" class="control-label"></label>
                <input type="text" asp-for="SearchWheelCount" class="form-control" name="searchWheelCount" />
        
                <label asp-for="SearchType" class="control-label"></label>
                <select asp-for="SearchType" class="form-control" asp-items="@Html.GetEnumSelectList<VehicleType>()">
                    <option>- select vehicle type -</option>
                </select>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-dark mt-2 mb-2" value="Search"/>
        </div>
        <div class="col text-end">
            <a href="/" class="btn btn-outline-dark mt-2 mb-2" role="button">Reset Search</a>
        </div>
    </div>
    </form>
</div>

<div class="container bg-light rounded">

<h1 class="mt-4">Parked Vehicles</h1>

<partial name="VehicleListPartial" model="@Model.VehicleList" />

</div>