@model ListViewModel

@{
    ViewData["Title"] = "Parked Vehicles";
}

<form asp-action="Index">
        <label for="RegistrationNumber" class="control-label"></label>
        <label asp-for="RegistrationNumber" class="control-label"></label>
        <input type="text" asp-for="RegistrationNumber" class="form-control" name="RegistrationNumber" />
        <input type="submit" class="btn btn-primary mt-2 mb-2" value="Search"/>            
</form>

<partial name="VehicleListPartial" model="@Model.VehicleList" />